<header class="header" role="banner">
  <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <img class="header-logo lightbend-logo" src="{{uiRootPath}}/img/lightbend-reverse.svg">
          <!--<img class="header-logo akka-logo akka-logo-platform" src="{{uiRootPath}}/img/akka-platform-reverse.svg">-->
          <!--<img class="header-logo cloudstate-logo" src="{{uiRootPath}}/img/cloudstate-reverse.svg">-->
          <!--<img class="header-logo cloudflow-logo" src="{{uiRootPath}}/img/cloudflow-reverse.svg">-->
          <!--<img class="header-logo akka-logo" src="{{uiRootPath}}/img/akka-reverse.svg">-->
        </a>
        <a href="" id="site-id" class="site-id cloudflow-id">Documentation</a>
        <!--<a href="" id="site-id" class="site-id akka-id">Docs</a>-->
        
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Menu One</span>
            <div class="navbar-dropdown">
              <section>
                <header>Section One</header>
                <a href="#">Menu Item</a>
                <a href="#">Menu Item</a>
                <a href="#">Menu Item</a>
              </section>
              <section>
                  <header>Section Two</header>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
              </section>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Menu Two</span>
            <div class="navbar-dropdown">
              <section>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
              </section>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Menu Three</span>
            <div class="navbar-dropdown">
              <section>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
                  <a href="#">Menu Item</a>
              </section>
            </div>
          </div>
        </div>
      </div>

  </nav>
</header>
